{{ template "header.html" . }}

<div class="content">
  <h2 class="content-title">
      {{ if eq (extra "lang") "en" }}
      Login Successful
      {{ else }}
      Успешный вход
      {{ end }}
  </h2>
  <div class="content-text">
      {{ if eq (extra "lang") "en" }}
      Please copy this code, switch to your application and paste it there:
      {{ else }}
      Скопируйте этот код, переключитесь на ваше приложение и вставьте его туда:
      {{ end }}
  </div>
  <input type="text" class="input" value="{{ .Code }}" />
</div>

{{ template "footer.html" . }}
