[Unit]
Description=Shutdown inhibitor to allow manual Pod eviction
Documentation=https://deckhouse.io/modules/node-manager/
Wants=network-online.target kubelet.service containerd-deckhouse.service
After=network-online.target kubelet.service containerd-deckhouse.service

[Service]
Environment="PATH=/opt/deckhouse/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
ExecStartPre=/bin/bash -c 'until /opt/deckhouse/bin/nc -z 127.0.0.1 6445; do sleep 1; done'
ExecStart=/opt/deckhouse/bin/d8-shutdown-inhibitor
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
