# base components imports
# . is dict have keys:
#   k8sVersions - list versions k8s to kubectl import
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
{{- define "base components imports" }}
{{- $context := . -}}
- image: tools/tini
  add: /usr/bin/tini
  to: /usr/bin/tini
  before: setup
- image: tools/semver
  add: /usr/bin/semver
  to: /usr/bin/semver
  before: setup
  {{- range $k8sVersion := $context.k8sVersions }}
    {{- $image_version := printf "%s.%d" $k8sVersion (index $context.CandiVersionMap "k8s" $k8sVersion "patch") | replace "." "-" }}
- image: common/kubernetes-artifact-{{ $image_version }}
  add: /src/_output/bin/kubectl
  to: /usr/bin/kubectl-{{ $k8sVersion }}
  before: setup
  {{- end }}

{{- end }}


# base components
# . is list with indexes:
#   0 - parent context
#   1 - Files.Get prefix
{{- define "base components" }}
{{- $context := index . 0 -}}
{{- $prefix := index . 1 -}}

- |
  # Install kubectl wrapper
  cat <<"EOD" > /usr/bin/kubectl
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/kubectl_wrapper.sh" $prefix) | nindent 2 }}
  EOD
  chmod +x /usr/bin/kubectl
  # Shell comfort: inputrc
  cat <<"EOD" > /etc/inputrc
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/inputrc" $prefix) | nindent 2 }}
  EOD
  # Shell comfort: bashrc
  cat <<"EOD" > /etc/bashrc
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/bashrc" $prefix) | nindent 2 }}
  EOD
  # Shell comfort: add bashrc for deckhouse
  rm -f /.bashrc
  ln -s /etc/bashrc /.bashrc
  # Shell comfort: create /etc/vim
  mkdir -p /etc/vim/
  # Shell comfort: vimrc.local
  cat <<"EOD" > /etc/vim/vimrc.local
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/vimrc.local" $prefix) | nindent 2 }}
  EOD
{{- end }}

# common-base image
# . is dict have keys:
#   rootContext - root context contains .Files
#   prefix - Files.Get prefix
#   k8sVersions - list versions k8s to kubectl import
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
#    - dict CandiVersionMap from werf.yaml
{{- define "common_base_image" }}
{{- $context := . -}}
---
image: common-base-python-artifact
final: false
fromImage: base/python
import:
- image: common/wheel-artifact
  add: /wheels
  to: /wheels
  before: install
shell:
  install:
  - pip3 install -f file:///wheels --no-index pyOpenSSL==24.3.0 cryptography==44.0.1 bcrypt==4.1.1
---
image: common-base
fromImage: base/distroless
import:
- image: common-base-python-artifact
  add: /
  to: /
  before: setup
  includePaths:
  - usr/bin/python*
  - usr/lib/python*
  - usr/lib/libc.so
  - usr/lib/ld-musl-x86_64.so.1
{{ include "base components imports" (dict "k8sVersions" $context.k8sVersions "CandiVersionMap" $context.CandiVersionMap ) }}
- image: registrypackages/d8-curl-artifact-8-9-1
  add: /d8-curl
  to: /usr/bin/curl
  before: install
- image: tools/bash
  add: /usr/bin/bash
  to: /bin/bash
  before: install
- image: tools/jq
  add: /usr/bin/jq
  before: install
- image: tools/yq
  add: /usr/bin/yq
  before: install
- image: tools/sed
  add: /usr/bin/sed
  before: install
- image: tools/grep
  add: /usr/bin/grep
  before: install
- image: tools/gawk
  add: /
  to: /
  includePaths:
  - usr/bin/*awk*
  before: install
- image: tools/findutils
  add: /usr/bin/find
  before: install
- image: tools/coreutils
  add: /
  to: /
  includePaths:
  - usr/bin/*
  before: install
- image: libs/openssl
  add: /usr/bin/openssl
  to: /usr/bin/openssl
  before: install
- image: tools/vim
  includePaths:
  add: /
  to: /
  - usr/bin/*
  before: install
shell:
  install:
  {{- include "base components" (list $context.rootContext $context.prefix) | nindent 2 }}
imageSpec:
  config:
    env: { "CRYPTOGRAPHY_OPENSSL_NO_LEGACY": "true", "EDITOR": "/usr/bin/vim" }
{{- end }}


# base-for-go image
# . is dict have keys:
#   rootContext - root context contains .Files
#   prefix - Files.Get prefix
#   k8sVersions - list versions k8s to kubectl import
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
{{- define "base_for_go_image" }}
{{- $context := . -}}

image: base-for-go
fromImage: builder/alt
import:
{{ include "base components imports" (dict "k8sVersions" $context.k8sVersions "CandiVersionMap" $context.CandiVersionMap ) }}
shell:
  beforeInstall:
  - apt-get install -y golang make git gcc
  {{- include "base components" (list $context.rootContext $context.prefix) | nindent 2 }}

{{- end }}
