# base components imports
# . is dict have keys:
#   k8sVersions - list of dict versions k8s
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
{{- define "base components imports" }}
{{- $context := . -}}

- image: common/tini-artifact
  add: /tini/tini-static
  to: /usr/bin/tini
  before: setup
- image: tools/semver
  add: /usr/bin/semver
  to: /usr/bin/semver
  before: setup
  {{- range $k8s := $context.k8sVersions }}
    {{- $image_version := printf "%s.%d" $k8s.kubectl (index $context.CandiVersionMap "k8s" $k8s.kubectl "patch") | replace "." "-" }}
- image: common/kubernetes-artifact-{{ $image_version }}
  add: /src/_output/bin/kubectl
  to: /usr/local/bin/kubectl-{{ $k8s.kubectl }}
  before: setup
  {{- end }}

{{- end }}


# base components
# . is dict have keys:
#   Files - copy Files.Get
#   prefix - Files.Get prefix
#   k8sVersions - list of dict versions k8s
{{- define "base components" }}
{{- $context := . -}}

- |
  # Install kubectl wrapper
  cat <<"EOD" > /usr/local/bin/kubectl
  {{- tpl ($context.Files.Get (printf "%sdeckhouse-controller/files/kubectl_wrapper.sh.tpl" $context.prefix)) $context.k8sVersions | nindent 2 }}
  EOD
  chmod +x /usr/local/bin/kubectl
  # Shell comfort: inputrc
  cat <<"EOD" > /etc/inputrc
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/inputrc" $context.prefix) | nindent 2 }}
  EOD
  # Shell comfort: bashrc
  cat <<"EOD" > /etc/bashrc
  {{- tpl ($context.Files.Get (printf "%sdeckhouse-controller/files/bashrc.tpl" $context.prefix)) $context.k8sVersions | nindent 2 }}
  EOD
  # Shell comfort: add bashrc for root
  rm -f /root/.bashrc
  ln -s /etc/bashrc /root/.bashrc
  # Shell comfort: add bashrc for nobody
  rm -f /.bashrc
  ln -s /etc/bashrc /.bashrc
  # Shell comfort: create /etc/vim
  mkdir -p /etc/vim/
  # Shell comfort: vimrc.local
  cat <<"EOD" > /etc/vim/vimrc.local
  {{- $context.Files.Get (printf "%sdeckhouse-controller/files/vimrc.local" $context.prefix) | nindent 2 }}
  EOD

{{- end }}


# common-base image
# . is dict have keys:
#   Files - .Files.Get
#   prefix - Files.Get prefix
#   k8sVersions - list of dict versions k8s
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
#    - dict CandiVersionMap from werf.yaml
{{- define "common_base_image" }}
{{- $context := . -}}

image: common-base
fromImage: builder/alt
import:
- image: dev-alt-artifact
  add: /
  to: /
  before: setup
  includePaths:
  - usr/bin/python*
  - usr/lib/python*
  - usr/lib/libc.so
  - usr/lib/ld-musl-x86_64.so.1
  - usr/lib64/libz.so*
  - usr/lib64/libexpat.so*
  - usr/lib64/libssl.so.*
  - usr/lib64/libcrypto.so.*
  - usr/lib64/libpthread.so.0*
  - usr/bin/openssl
  - etc/pki
  - usr/share/ca-certificates/ca-bundle.crt
  - usr/lib64/libffi.so*
  - usr/lib64/libb2.so*
  - usr/share/vim
  - etc/vim
  - etc/bash_completion.d
  - etc/bashrc.d/bash_completion.sh
  - usr/share/bash-completion
  - usr/lib/locale/C.utf8
  - usr/bin/vim-console
{{ include "base components imports" (dict "k8sVersions" $context.k8sVersions "CandiVersionMap" $context.CandiVersionMap) }}

- image: common/distroless
  add: /etc/ssl
  to: /etc/ssl
  before: setup

- image: registrypackages/d8-curl-artifact-8-9-1
  add: /d8-curl
  to: /usr/bin/curl
  before: setup

shell:
  beforeInstall:
  {{- include "base components" (dict "Files" $context.Files "prefix" $context.prefix "k8sVersions" $context.k8sVersions) | nindent 2 }}

imageSpec:
  config:
    env: { "CRYPTOGRAPHY_OPENSSL_NO_LEGACY": "true" }
{{- end }}


# base-for-go image
# . is dict have keys:
#   Files - .Files.Get
#   prefix - Files.Get prefix
#   k8sVersions - list of dict versions k8s
#   CandiVersionMap - dict CandiVersionMap from werf.yaml
{{- define "base_for_go_image" }}
{{- $context := . -}}

image: base-for-go
fromImage: builder/alt
import:
{{ include "base components imports" (dict "k8sVersions" $context.k8sVersions "CandiVersionMap" $context.CandiVersionMap) }}
shell:
  beforeInstall:
  - apt-get install -y golang make git gcc
  {{- include "base components" (dict "Files" $context.Files "prefix" $context.prefix "k8sVersions" $context.k8sVersions) | nindent 2 }}

{{- end }}

# base-k8s-versions
# In base_k8s_versions the list of versions from .CandiVersionMap.k8s is traversed and 
#   then it is divided into 3 elements and the kubectl value is selected from them.
# The case that 1 or 2 elements will be left at the end is taken into account.
# . is $
#
# return
# .k8sVersions:
# - version: ["1.27", "1.28", "1.29"]
#   kubectl: "1.28"
# - version: ["1.30"]
#   kubectl: "1.30"
{{- define "base_k8s_versions" -}}
  {{- $keys := list }}
  {{- range $key, $value := .CandiVersionMap.k8s }}
    {{- $keys = append $keys $key }}
  {{- end }}
  {{- $chunks := list }}
  {{- $chunk := list }}
  {{- $lens := len $keys }}
  {{- /* Going through all the keys */}}
  {{- range $index, $value := $keys }}
    {{- $chunk = append $chunk $value }}
    {{- /* If the chunk has reached size 3 or it is the last element */}}
    {{- if or (eq (len $chunk) 3) (eq (add $index 1) $lens) }}
      {{- /* Determine kubectl version: take the second element of the chunk if there is one, otherwise the first */}}
      {{- $kubectl := index $chunk 0 }}
      {{- if ge (len $chunk) 2 }}
        {{- $kubectl = index $chunk 1 }}
      {{- end }}
      {{- /* Add the chunk to the chunks */}}
      {{- $chunks = append $chunks (dict "version" $chunk "kubectl" $kubectl) }}
      {{- $chunk = list }}
    {{- end }}
  {{- end }}
  {{- $_ := set . "k8sVersions" $chunks }}
{{- end }}

