# calculate base image for terraform-auto-exporter and terraform-state-exporteer
# . is dict with keys:
#   rootContext - context of template. Should contain Files and Env (werf env) keys
#   isV2 - bool value that indicates that we render container v2 template
{{- define "render_containerd_build_options" }}
{{- $ctx := $. -}}
{{- $context := $ctx.rootContext -}}
{{- $is_v2 := $ctx.isV2 -}}

  {{- if and (eq $context.Env "CSE") $is_v2 -}}
    {{- $namespacesSettings := ($context.Files.Get "/tools/build_includes/integrity-check-namespaces.yaml" | fromYaml) }}
    {{- if not hasKey $namespacesSettings "namespaces_for_integrity" -}}
      {{- fail "file /tools/build_includes/integrity-check-namespaces.yaml has not key namespaces_for_integrity" -}}
    {{- end }}

    {{- $namespaces := get $namespacesSettings "namespaces_for_integrity" | join "," -}}
    {{- if $namespaces -}}
INTEGRITY_NAMESPACES="{{ $namespaces }}"
    {{- end }}
  {{- end }}
{{- end }}
