# Add image spec with to final container
# . is dict with keys:
#  envs - optional dict (env name string -> value string) with additional envs that container needs
#  labels - optional dict (key string -> value string) with additional labels that container should have
#  entrypoint - optional list of strings with entrypoint that container should have. It will be converted to json
#  work_dir - optional string with working dir that container should have
{{- define "image_spec_for_final_container" }}
{{- $context := . }}

{{- $envs := dict }}
{{- if hasKey $context "envs" -}}
  {{- $envs = get $context "envs" }}

  {{- if not (kindIs "map" $envs) }}
    {{- fail "envs context key should be dict" -}}
  {{- end }}
{{- end }}

{{- $labels := dict }}
{{- if hasKey $context "labels" -}}
  {{- $labels = get $context "labels" }}

  {{- if not (kindIs "map" $labels) }}
    {{- fail "labels context key should be dict" -}}
  {{- end }}
{{- end }}

{{- $entrypoint := list }}
{{- if hasKey $context "entrypoint" -}}
  {{- $entrypoint = get $context "entrypoint" }}

  {{- if not (kindIs "slice" $entrypoint) }}
    {{- fail "entrypoint context key should be slice" -}}
  {{- end }}
{{- end }}

{{- $work_dir := "" }}
{{- if hasKey $context "work_dir" -}}
  {{- $work_dir = get $context "work_dir" }}

  {{- if not (kindIs "string" $work_dir) }}
    {{- fail "work_dir context key should be string" -}}
  {{- end }}
{{- end }}

{{- if and (and (empty $envs) (empty $labels)) -}}

imageSpec:
  config:
  {{ if not (empty $envs) }}
    env: {{ $envs | toJson }}
  {{ end }}
  {{ if not (empty $labels) }}
    labels: {{ $labels | toJson }}
  {{ end }}
  {{ if not (empty $entrypoint) }}
    entrypoint: {{ $entrypoint | toJson }}
  {{ end }}
  {{ if not (empty $work_dir) }}
    workingDir: "{{ $work_dir }}"
  {{ end }}
{{- end }}
