# oci image labels with supported k8s versions
# applies on the main deckhouse image and on the install image
{{- define "controller_and_install_image_labels" }}
{{- $context := . }}
imageSpec:
  config:
    env: { "EDITOR": "vim" }
    labels: {
      "io.deckhouse.dkp.version": "{{ $context.CI_COMMIT_TAG }}",
      "io.deckhouse.dkp.edition": "{{ $context.Env }}",
      "io.deckhouse.dkp.supportedKubernetesVersions": "{{ $context.kubernetesVersions }}",
      "io.deckhouse.dkp.defaultKubernetesVersion": "{{ $context.defaultKubernetesVersion }}",
      "io.deckhouse.dkp.eolKubernetesVersions": "{{ $context.eolKubernetesVersions }}",
      "io.deckhouse.dkp.previewKubernetesVersions": "{{ $context.previewKubernetesVersions }}"
    }
{{- end }}
