# add mount points from file mount_points.yaml in the build dir

{{- define "image mount points" }}
  {{- $mountPoints := ($.Files.Get (printf "%smodules/%s-%s/images/%s/mount-points.yaml" $.ModulePath $.ModulePriority $.ModuleName $.ImageName) | fromYaml) }}
  {{- range $v := $mountPoints.dirs }}
- image: werf-mountpoints
  add: /tools/mounts/mountdir
  to: {{ trimSuffix "/" $v }}
  before: install
  {{- end }}
  {{- range $v := $mountPoints.files }}
- image: werf-mountpoints
  add: /tools/mounts/mountfile
  to: {{ $v }}
  before: install
  {{- end }}
{{- end }}
