# render imports for install and install standalone images
# . is dict with next params
#   Env - werf env
{{- define "installer_and_installer_standalone_generic_imports" }}
{{- $context := . -}}

- artifact: dhctl
  add: /dhctl/bin/dhctl
  to: /image/dhctl
  before: setup
- image: dev-prebuild
  add: /deckhouse
  to: /deckhouse
  includePaths:
  - modules/*/openapi/config-values.yaml
  - global-hooks/openapi/config-values.yaml
  after: setup
- image: images-digests
  add: /images_digests.json
  to: /image/deckhouse/candi/images_digests.json
  before: setup
- artifact: version-map-artifact
  add: /version_map_{{ $context.Env }}.yml
  to: /image/deckhouse/candi/version_map.yml
  before: setup
- artifact: ssh-static
  add: /ssh/bin
  to: /bin
  before: setup
  includePaths:
  - ssh
  - ssh-add
  - ssh-agent
  - scp
{{- end }}

# render imports for install images for relocate binaries and libraries
{{- define "installer_and_installer_standalone_libraries_and_binaries_imports" }}
- image: dev-alt-artifact
  add: /relocate
  to: /
  before: setup
- image: dev-alt-artifact
  add: /
  to: /
  before: setup
  includePaths:
  - etc/pki
  - usr/share/ca-certificates/ca-bundle.crt
  - usr/share/vim
  - etc/vim
  - etc/bash_completion.d
  - etc/bashrc.d/bash_completion.sh
  - usr/share/bash-completion
  - usr/bin/vim-console
{{- end }}

# render terraform imports for install and install standalone images
# . is dict with next params
#   Env - werf env
#   TF - TF from werf.yaml
#   Editions - Editions from werf.yaml
{{- define "installer_and_installer_standalone_terraform_imports" }}
{{- $context := . -}}
- artifact: terraform # from modules/040-terraform-manager/images/terraform-manager-base/werf.inc.yaml
  add: /terraform/terraform
  to: /bin/terraform
  before: setup
{{- range $_, $edition := $context.Editions }}
  {{- if $edition.terraformProviders }}
    {{- range $_, $tfProvider := $edition.terraformProviders }}
      {{- $tf := index $context.TF $tfProvider }}
- artifact: {{ $tf.artifact }} # from modules/040-terraform-manager/images/terraform-manager-{PROVIDER}/werf.inc.yaml
  add: /{{ $tf.artifactBinary }}
  to: /plugins/registry.terraform.io/{{ $tf.namespace }}/{{ $tf.type }}/{{ $tf.version }}/linux_amd64/{{ $tf.destinationBinary }}
  before: setup
    {{- end }}
  {{- end }}
  {{- if eq $.Env $edition.name }}
    {{- break -}}
  {{- end }}
{{- end }}
{{- end }}
