{{- define "get_oss_version_by_id" -}}
  {{- $id := index . 0 -}}
  {{- $context := index . 1 -}}
  {{- $oss_path := $context.OssYamlPath  -}}
  {{- $version := "" -}}
  
  {{- $raw := printf "data:\n%s" ($context.Files.Get $oss_path) | fromYaml -}}
  {{- range $raw.data -}}
    {{- if eq .id $id -}}
      {{- $version = .version -}}
    {{- end -}}
  {{- end -}}
  {{- $version -}}
{{- end -}}
