{{- define "get_oss_version_by_id" -}}
  {{- $id := index . 0 -}}
  {{- $ctx := index . 1 -}}
  {{- $version := "" -}}
  {{- $found := false -}}

  {{- if not ($ctx.Files.Exists $ctx.OssYamlPath) -}}
    {{- fail (printf "\n[ERROR] OSS file not found at path: %s" $ctx.OssYamlPath) -}}
  {{- end -}}

  {{- $raw := printf "data:\n%s" ($ctx.Files.Get $ctx.OssYamlPath) | fromYaml -}}
  {{- range $raw.data -}}
    {{- if eq .id $id -}}
      {{- $found = true -}}
      {{- if .version -}}
        {{- $version = .version -}}
      {{- else -}}
        {{- fail (printf "\n[ERROR] Field 'version' is empty or missing for ID '%s' in file: %s" $id $ctx.OssYamlPath) -}}
      {{- end -}}      
    {{- end -}}
  {{- end -}}

  {{- if not $found -}}
    {{- fail (printf "\n[ERROR] ID '%s' not found in file: %s" $id $ctx.OssYamlPath) -}}
  {{- end -}}

  {{- $version -}}
{{- end -}}
