{{- define "parse_base_images_map" }}

# Base Images
  {{- $_ := set . "Images" (.Files.Get "candi/image_versions.yml" | fromYaml) }}
    {{- range $k, $v := .Images }}
      {{ $baseImagePath := (printf "%s%s" $.Images.REGISTRY_PATH (trimSuffix "/" $v)) }}
      {{- if ne $k "REGISTRY_PATH" }}
        {{- $_ := set $.Images $k $baseImagePath }}
      {{- end }}
    {{- end }}
{{- end }}
