# put image with trivy mitigations to registry.
# Mitigations can be found in the .trivyignore.yaml file in the image directory
# input parameters:
# list of $ and image name.
# list ($ "common/kubernetes")
{{- define "trivy mitigation" }}
  {{- $context := index . 0 }}
  {{- $imageName := index . 1 }}
  {{- $trivyIgnorePath := "" }}
  {{- $isVault := false }}
  {{- if eq $imageName "dev" }}
    {{- $trivyIgnorePath = "/deckhouse-controller/.trivyignore.yaml" }}
  {{- else if eq $imageName "dev/install" }}
    {{- $trivyIgnorePath = "/dhctl/.trivyignore.yaml" }}
  {{- else if eq $imageName "bundle" }}
    {{- $trivyIgnorePath = "/.trivyignore.yaml" }}
  {{- else if hasKey $context "ModulePriority" }}
    {{- $trivyIgnorePath = (printf "/%smodules/%s-%s/images/%s/.trivyignore.yaml" $context.ModulePath $context.ModulePriority $context.ModuleName $context.ImageName) }}
  {{- else }}
    {{- $trivyIgnorePath = (printf "/images/%s/.trivyignore.yaml" $context.ImageName) }}
    {{- $imageName = trimPrefix ( get $context "ModuleName" ) $context.ImageName }}
  {{- end }}
  {{- $trivyIgnoreFile := false }}
  {{- if eq (len ($context.Files.Glob $trivyIgnorePath)) 1 }}
    {{- $trivyIgnoreFile = true }}
  {{- end }}
  {{- $werfSignKey := env "WERF_SIGN_KEY" "" }}
  {{- $vaultKey := env "VAULT_KEY" "" }}
  {{- $actionsIdToken := env "ACTIONS_ID_TOKEN_REQUEST_TOKEN" "" }}
  {{- if or (ne $werfSignKey "") (ne $vaultKey "") (ne $actionsIdToken "") }}
    {{- $isVault = true }}
  {{- end }}
  {{- if $trivyIgnoreFile }}
---
image: {{ $imageName }}-trivy-ignore-artifact
from: base/vex
final: true
secrets:
- id: REGISTRY_USER
  env: REGISTRY_USER
- id: REGISTRY_PASSWORD
  env: REGISTRY_PASSWORD
{{- if eq $isVault true }}
{{- if ne $werfSignKey "" }}
- id: VAULT_ADDR
  env: VAULT_ADDR
- id: VAULT_KEY
  env: WERF_SIGN_KEY
- id: VAULT_ROLE
  env: WERF_VAULT_AUTH_ROLE
- id: VAULT_JWT
  env: WERF_VAULT_AUTH_JWT
- id: TRANSIT_SECRET_ENGINE_PATH
  env: TRANSIT_SECRET_ENGINE_PATH
{{- else }}
- id: VAULT_ADDR
  env: VAULT_ADDR
- id: VAULT_KEY
  env: VAULT_KEY
- id: VAULT_ROLE
  env: VAULT_ROLE
- id: TRANSIT_SECRET_ENGINE_PATH
  env: TRANSIT_SECRET_ENGINE_PATH
{{- if eq $actionsIdToken "" }}
- id: VAULT_JWT
  env: VAULT_ID_TOKEN
{{- end }}
{{- end }}
{{- if ne $actionsIdToken "" }}
- id: ACTIONS_ID_TOKEN_REQUEST_TOKEN
  env: ACTIONS_ID_TOKEN_REQUEST_TOKEN
- id: ACTIONS_ID_TOKEN_REQUEST_URL
  env: ACTIONS_ID_TOKEN_REQUEST_URL
{{- end }}
{{- end }}
git:
- add: {{ $trivyIgnorePath }}
  to: /.trivyignore.yaml
  stageDependencies:
    install:
    - "**/*"
dependencies:
- image: {{ $imageName }}
  before: install
  imports:
  - type: ImageDigest
    targetEnv: IMAGE_DIGEST
  - type: ImageRepo
    targetEnv: IMAGE_REPO
shell:
  install:
  - echo "Using predicate .trivyignore.yaml"
  {{- end }}
{{- end }}
