# put image with vex mitigations to registry.
# Mitigations can be found in the known_vulnerabilities.vex file in the image directory
# input parameters:
# list of $ and image name.
# list ($ "common/kubernetes")
{{- define "vex mitigation" }}
  {{- $context := index . 0 }}
  {{- $imageName := index . 1 }}
  {{- $knownVulnPath := "" }}
  {{- if eq $imageName "dev" }}
    {{- $knownVulnPath = "/deckhouse-controller/known_vulnerabilities.vex" }}
  {{- else if eq $imageName "dev/install" }}
    {{- $knownVulnPath = "/dhctl/known_vulnerabilities.vex" }}
  {{- else }}
    {{- $knownVulnPath = (printf "/%smodules/%s-%s/images/%s/known_vulnerabilities.vex" $context.ModulePath $context.ModulePriority $context.ModuleName $context.ImageName) }}
  {{- end }}
  {{- $vexFile := false }}
  {{- if eq (len ($context.Files.Glob $knownVulnPath)) 1 }}
    {{- $vexFile = true }}
  {{- end }}
  {{- if $vexFile }}
---
image: {{ $imageName }}-vex-artifact
fromImage: base/vex
final: true
secrets:
- id: REGISTRY_USER
  env: REGISTRY_USER
- id: REGISTRY_PASSWORD
  env: REGISTRY_PASSWORD
{{- if ne (env "VAULT_ADDR" "") "" }}
- id: VAULT_ADDR
  env: VAULT_ADDR
- id: WERF_SIGN_KEY
  env: WERF_SIGN_KEY
- id: TRANSIT_SECRET_ENGINE_PATH
  env: TRANSIT_SECRET_ENGINE_PATH
- id: VAULT_ROLE
  env: VAULT_ROLE
- id: VAULT_JWT
  env: VAULT_JWT
{{- else }}
- id: VAULT_ADDR
  env: COSIGN_VAULT_ADDRESS
- id: COSIGN_VAULT_KEY
  env: COSIGN_VAULT_KEY
- id: VAULT_ROLE
  env: COSIGN_AUTH_ROLE
- id: TRANSIT_SECRET_ENGINE_PATH
  env: COSIGN_TRANSIT_SECRET_ENGINE_PATH
- id: ACTIONS_ID_TOKEN_REQUEST_TOKEN
  env: ACTIONS_ID_TOKEN_REQUEST_TOKEN
- id: ACTIONS_ID_TOKEN_REQUEST_URL
  env: ACTIONS_ID_TOKEN_REQUEST_URL
{{- end }}
git:
- add: {{ $knownVulnPath }}
  to: /known_vulnerabilities.vex
  stageDependencies:
    install:
    - "**/*"
dependencies:
- image: {{ $imageName }}
  before: install
  imports:
  - type: ImageDigest
    targetEnv: IMAGE_DIGEST
  - type: ImageRepo
    targetEnv: IMAGE_REPO
shell:
  install:
  - export REGISTRY_USER="$(cat /run/secrets/REGISTRY_USER)"
  - export REGISTRY_PASSWORD="$(cat /run/secrets/REGISTRY_PASSWORD)"
  - export VAULT_ADDR="$(cat /run/secrets/VAULT_ADDR)"
  - export VAULT_ROLE="$(cat /run/secrets/VAULT_ROLE)"
  - export TRANSIT_SECRET_ENGINE_PATH="$(cat /run/secrets/TRANSIT_SECRET_ENGINE_PATH)"
{{- if ne (env "VAULT_ADDR" "") "" }}
  - export VAULT_KEY="$(cat /run/secrets/WERF_SIGN_KEY)"
  - export VAULT_JWT="$(cat /run/secrets/VAULT_JWT)"
  - export VAULT_AUTH_PATH="fox"
{{- else }}
  - export VAULT_KEY="hashivault://$(cat /run/secrets/COSIGN_VAULT_KEY)"
  - export ACTIONS_ID_TOKEN_REQUEST_TOKEN="$(cat /run/secrets/ACTIONS_ID_TOKEN_REQUEST_TOKEN)"
  - export ACTIONS_ID_TOKEN_REQUEST_URL="$(cat /run/secrets/ACTIONS_ID_TOKEN_REQUEST_URL)"
  - export VAULT_AUTH_PATH="github"
  - >
    export VAULT_JWT=$(jq -r .value <<< $(curl -fsH "Authorization: bearer ${ACTIONS_ID_TOKEN_REQUEST_TOKEN}" "${ACTIONS_ID_TOKEN_REQUEST_URL}&audience=github-access-aud" ))
  - >
    if [ -n "${VAULT_JWT}" ]; then
      echo "Received Actions token";
    else
      echo "Actions token empty";
    fi
{{- end }}
  - >
    export VAULT_TOKEN="$(curl -fX POST "${VAULT_ADDR}/v1/auth/${VAULT_AUTH_PATH}/login" -d '{"role":"'${VAULT_ROLE}'","jwt":"'${VAULT_JWT}'"}' | jq -r '.auth.client_token')"
  - >
    if [ -n "${VAULT_TOKEN}" ]; then
      echo "Received Vault token";
    else
      echo "Vault token empty";
    fi
  - echo "Using predicate known_vulnerabilities.vex"
  - |
    cosign attest \
      --replace \
      --registry-username="${REGISTRY_USER}" \
      --registry-password="${REGISTRY_PASSWORD}" \
      --predicate /known_vulnerabilities.vex \
      --type openvex \
      --key ${VAULT_KEY} \
      --tlog-upload=false \
      -y -d \
      "${IMAGE_REPO}@${IMAGE_DIGEST}"
  {{- end }}
{{- end }}
