crds
docs
images
hooks
template_tests
webhooks
enabled
README.md

candi/cloud-providers/*/layouts
candi/cloud-providers/*/openapi
candi/cloud-providers/*/terraform-modules
candi/cloud-providers/*/docs
candi/cloud-providers/*/tools

candi/bashible/docs
candi/bashible/openapi.yaml

candi/control-plane-kubeadm
candi/openapi
candi/.gitignore
