@import "components/common/_variables.scss";

.clients {
    background: $color-smooth;
    padding: 100px 0;
    &__content {
        box-sizing: border-box;
        position: relative;
    }
    &__title {
        margin-top: 0;
        margin-bottom: $spacing-l;
    }
    &__items {
        margin: 0 -25px;
    }

    &__item {
        background: $color-inverse;
        width: 450px;
        box-sizing: border-box;
        padding: 30px;
        margin: 0 25px;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
        &-header {
            margin-bottom: $spacing-l;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &-logo {
            img {
                height: 40px;
            }
            @media (max-width: 1499px) and (min-width: 1440px) {
                img {
                  max-width: 90%;
                }
            }
        }
        &-flag {
            img {
                height: 30px;
            }
        }
        &-info {
            margin-bottom: $spacing-l;
            // &:last-child {
            //     margin-bottom: 0px;
            // }
            &-label {
                margin-bottom: $spacing-s;
                font-weight: $font-weight-semibold;
            }
            &-value {
                line-height: 1.5;
            }
        }
    }

    .slick-arrow {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -70px;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        &:before {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $color-main;
            font-size: 40px;
        }
        &:hover:before {
            color: $color-alt;
        }
    }

    .slick-prev {
        right: 100px;
        &:before {
            content: '←'
        }
    }

    .slick-next {
        right: 25px;
        &:before {
            content: '→'
        }
    }

    .slick-track {
        overflow: hidden;
    }
}