@import "components/common/_variables.scss";

.gdpr {
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    z-index: 9999999999;
    width: 100%;
    background: $color-inverse;
    color: $color-main;
    box-sizing: border-box;
    padding: 15px 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    &__title {
        margin-bottom: $spacing-m;
    }
    &__message {
        margin: 1em 0;
    }
    &__button {
    }
}
