@import "components/common/_variables.scss";

.guides {

    &__alert {
        display: none;
        padding: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 1em;
        border: 1px solid;
        border-style: solid;
        border-left-width: 0.5em;


        &.active {
            display: block;
        }

        &.info {
            border-color: $color-alt;

            a {
                color: $color-alt;
            }

            p {
                color: $color-main;
            }
        }

        &.warning {
            border-color: #fff3cd;;
            a {
                color: $color-alt;
            }

            p {
                color: $color-main;
            }
        }
    }
}
