@import "components/common/_variables.scss";

.header {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: $color-inverse;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    &__logo {
        img {
            margin-left: -60px;
            height: 50px;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        box-sizing: border-box;
        padding-left: $logo-spacing;
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 auto;

        &-item {
            position: relative;
            margin-left: 55px;
            &:first-child {
                margin-left: 0;
            }
            &_parent > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            &_parent > a:after {
                content: '';
                width: 10px;
                height: 10px;
                background: url('../images/icons/dropdown.svg');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 5px;
            }
            &_active {
                &:after {
                    content: '';
                    display: block;
                    background: $color-alt;
                    position: absolute;
                    height: 2px;
                    width: calc(100% + 10px);
                    top: calc(100% + 5px);
                    left: -5px;
                }
            }
            a {
                color: $color-main;
                text-decoration: none;
            }
        }
    }
}
