@import "components/common/_variables.scss";

html {
    scroll-padding-top: 80px;
}

.header-container {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header {
    background: $color-inverse;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    &__logo {
        img {
            height: 42px;
            @media (min-width: $container-breakpoint-lg) {
                height: 50px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 auto;

        &-item-icon {
            margin-left: 10px;
            position: relative;
            top: 3px;
            @media (min-width: $container-breakpoint-lg) {
                margin-left: 20px;
            }
            &_first {
                margin-left: 20px;
                @media (min-width: $container-breakpoint-lg) {
                    margin-left: 35px;
                }
            }
            a {
                display: inline-block;
                svg {
                    height: 15px;
                    @media (min-width: $container-breakpoint-lg) {
                        height: 20px;
                    }
                    path {
                        fill: $color-alt;
                    }
                }
                &:hover svg path {
                    fill: $color-main;
                }
            }
            &--phone {
              & svg {
                width: 19px;
                height: 20px;
                fill: $color-alt;

                &:hover {
                  fill: $color-main;
                }
              }
            }
            &--email {
              & svg {
                width: 24px;
                height: 24px !important;
                fill: $color-alt;
                stroke: $color-alt;
                stroke-width: 10px;

                @media (max-width: $container-breakpoint-lg) {
                  height: 20px !important;
                }

                  &:hover {
                  fill: $color-main;
                  stroke: $color-main;
                  stroke-width: 10px;
                }
              }
            }
        }

        &-item {
            position: relative;
            margin-left: 20px;
            font-size: $font-size-small;
            @media (min-width: $container-breakpoint-lg) {
                margin-left: 55px;
                font-size: $font-size-base;
            }
            &:first-child {
                margin-left: 0;
            }
            &_parent > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
            &_parent > a:after {
                content: '';
                width: 10px;
                height: 10px;
                background: url('../images/icons/dropdown.svg');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 5px;
                margin-bottom: -3px;
                @media (min-width: $container-breakpoint-lg) {
                    margin-bottom: 0px;
                }
            }
            &_active {
                &:after {
                    content: '';
                    display: block;
                    background: $color-alt;
                    position: absolute;
                    height: 2px;
                    width: calc(100% + 10px);
                    top: calc(100% + 5px);
                    left: -5px;
                }
            }
            a {
                color: $color-main;
                text-decoration: none;
                &:hover {
                    color: $color-alt;
                }
            }
        }
    }
}
