@import "components/common/_variables.scss";

.resources {
  ul, ol, li {
    & p:not(.resources__attrs) {
      font-size: 14px;
      margin: 0;
      line-height: rem(20px);
      padding-top: 0;
      padding-bottom: $text-spacing-m;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__prop {
    &_name {
      display: block;
      color: $color-main;
      //width: fit-content;
      width: 100%;
      font-weight: $font-weight-bold;
      font-family: monospace, 'Source Code Pro';
      //padding: 0;
      line-height: 22px;
      margin-bottom: $text-spacing-s;
      cursor: pointer;
      margin-left: -24px;
      padding: 8px 8px 10px;

      &:hover {
        //background: $background-blue;
        background-color: rgba(239, 243, 249, .5);
        border-radius: 4px;
      }
    }

    &_name > .ancestors,
    &_title > .ancestors {
      opacity: 55%;
      word-break: break-all;
    }

    &_type {
      display: inline-block;
      color: $color-muted;
      font-style: normal;
      text-transform: uppercase;
      //font-size: rem(11px);
      line-height: 22px;

      &:has(+ .resources__prop_description) {
        padding-bottom: $text-spacing-s;
      }

      & + p.resources__attrs.required {
        display: inline-flex;
        text-transform: uppercase;
        margin-left: rem(10px);
        margin-top: 0;
      }
    }

    &_description {
      //margin-top: rem(7px);
      //padding-bottom: $text-spacing-l;

      & ul {
        padding: rem(5px);

        & li {
          margin: 0;
        }
      }
    }
  }

  &__attrs {
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    gap: 7px;
    overflow-x: hidden;

    &_name {
      font-weight: $font-weight-regular;
      font-style: italic;
      color: $color-muted;
      &.required {
        font-style: normal;
        color: #ff7a7a;
      }
    }

    &_content {
      line-height: 1.2rem;
      font-size: 0.9rem;
      overflow: auto;
    }
  }
}
