adal==1.2.0
asn1crypto==0.24.0
better-exchook==1.20190103.160956
cachetools==3.0.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
google-auth==1.6.2
idna==2.8
kubernetes==8.0.1
oauthlib==3.0.0
packaging==18.0
pip-review==1.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.3.1
python-dateutil==2.7.5
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
urllib3==1.24.1
websocket-client==0.54.0
