[Unit]
Description=Import the images containerd ships with
After=containerd.service
Requires=containerd.service
PartOf=containerd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/deckhouse/bin/ctr -n k8s.io images import /usr/lib/deckhouse/images/pause.tar
ExecStart=/opt/deckhouse/bin/ctr -n k8s.io images label deckhouse.local/images:pause io.cri-containerd.pinned=pinned
