@use "components/common/_variables.scss";

.channel__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;

    &--container_title {
        display: flex;
        gap: 40px;


        &::before {
            content: none !important;
        }
    }

    &--title {
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 22px;
        color: #5E6697;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;

        &::before {
            content: none !important;
        }

        &.active {
            color: #00122C;

            &::after {
                content: "";
                position: absolute;
                width: calc(100% + 8px);
                bottom: -10px;
                left: 0;
                border: 1px solid #00122C;
            }
        }
    }

    &--descr {
        position: absolute;
        display: none;
        width: 572px;
        padding: 0;
        margin: 0 !important;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-in-out;
        color: #00122C;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;

        &.active {
            display: block;
            opacity: 1;
            height: auto;
            padding: 10px 0;
        }
    }
}