.layout-sidebar__sidebar--guides {
    position: relative;
    flex: 1;
    padding-top: 50px;

    .sidebar__wrapper-inner {
        position: sticky;
    }

    #toc-sidebar ul li {
        padding: 0;
    }

    .toc-sidebar__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }

    .toc-sidebar__item-link {
        padding: 0;
        padding: 13px 12px;
        border-left: 2px solid transparent;
        transition: border-left 0.3s ease;

        &.active {
            background-color: #F7F9FC;
            border-left: 2px solid #0064FF;
        }
    }
}

.layout-sidebar__content--guides {
    .docs {
    }
}
