@use "components/common/_variables.scss";
@use "components/common/_mixins";
@use 'components/common/_breakpoints.scss';

.tabs-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    .tabs__container {
        margin: 0;

        &--title {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            > .tabs__item {
                padding: 8px 20px;
                margin-bottom: 22px;
                color: #222A5D;
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

                &.active {
                    font-weight: 600;
                    color: #FFF;
                    border-radius: 8px;
                    background-color: #408BFF;
                }

                &:not(.active):hover {
                    border-radius: 8px;
                    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #f5f9ff;
                    box-shadow: 0 2.881px 8.643px .96px rgba(59, 66, 109, .15);
                }

                @include breakpoints.max-w(xl) {
                    padding: 7px 16px;
                }

                @include breakpoints.max-w(s) {
                    font-size: 13px;
                }

                @include breakpoints.max-w(xs) {
                    font-size: 12px;
                }
            }
        }

        &--descr {
            padding: 24px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.3px;
            background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #F5F9FF;
            box-shadow: 0 2.881px 8.643px 0.96px rgba(59, 66, 109, 0.15);
        }
    }

    > .tabs__container.tabs__container--descr[id] {
        display: none;

        &.active {
            display: block;
        }
    }

    .tabs__item {
        margin: 0 !important;

        &::before {
            content: none !important;
        }

        &--title {
            padding: 8px 25px;
            margin-bottom: 22px;
            color: #222A5D;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;

            &.active {
                font-weight: 600;
                color: #FFF;
                border-radius: 8px;
                background-color: #408BFF;
            }

            &:not(.active):hover {
                border-radius: 8px;
                background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #f5f9ff;
                box-shadow: 0 2.881px 8.643px .96px rgba(59, 66, 109, .15);
            }

            @include breakpoints.max-w(xxl) {
                padding: 7px 20px;
            }
        }

        &--descr {
            display: none;
            padding: 0 !important;
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: opacity 0.3s ease-in-out;

            &.active {
                display: block;
                opacity: 1;
                height: auto;
            }
        }
    }
}