@use "components/common/_variables.scss";

.update__list {
    display: flex;

    &--item {
        &::before {
            content: none !important;
        }
    }

    &--title {
        position: relative;
        color: #00122C;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.showing {
            color: #00122C;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            &::before {
                content: url(/images/copy.svg);
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
    }

    .test {
        max-width: 300px;
        color: #00122C;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    &--descr {
        display: none;
        color: #00122C;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
}