user nginx;
worker_processes 1;
error_log /dev/stderr warn;


events {
  worker_connections 1000;
  multi_accept on;
}

http {
  access_log off;
  include log_format.conf;

  server {
    server_name _;
    listen 10253;
    location /healthz {
      return 200;
    }
  }

  upstream madison {
    keepalive 16;

    server ${MADISON_BACKEND}:443 max_fails=0;
  }

  server {
    server_name _;
    listen 80;

    location / {
      client_body_in_single_buffer on;
      client_body_buffer_size 1m;
      client_max_body_size 1m;

      access_log /dev/stdout postdata;

      rewrite /api/v1/alerts /api/events/prometheus/${MADISON_AUTH_KEY} break;

      proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504 http_403 http_404 http_429 non_idempotent;
      proxy_ssl_server_name on;
      proxy_ssl_name madison.flant.com;
      proxy_set_header Host madison.flant.com;
      proxy_pass https://madison;
    }
  }
}
