{% assign revision=include.revision %}

{% if revision != "ce" %}
<div class="dimmer-block-content{% if page.ee_only %} disabled{% endif %}">
{% endif %}

  <div class="warning alert__wrap">
    <svg class="alert__icon icon--warning">
      <use xlink:href="/images/sprite.svg#warning-icon"></use>
    </svg>
    <div>
      <p>Подсеть, указанная в <code>nodeNetworkCIDR</code>, будет автоматически разбита на три равные части для использования в трех зонах Yandex Cloud.<br>Убедитесь, что выбранной размерности подсети хватит для вашего кластера.</p>
    </div>
  </div>


{% if revision != "ce" %}
</div>
{% endif %}