@import "components/common/_variables.scss";
@import "components/common/_mixins";
.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    box-sizing: border-box;
    padding: 0.75em 1.5em;
    font-weight: $font-weight-semibold;
    &_default {
        color: $color-main !important;
        background: $color-inverse;
        border: 2px solid $color-main;
    }
    &_alt {
        color: $color-inverse !important;
        background: $color-alt;
        border: 2px solid $color-alt;
    }
    &_inverse {
        color: $color-alt !important;
        background: $color-inverse;
        border: 2px solid $color-inverse;
    }
    &:not(.button_disabled):not(.button_card):not(.button--primary):not(.gdpr__button):hover {
        color: $color-inverse !important;
        background: $color-main;
        border: 2px solid $color-main;
        text-decoration: none !important;
    }
    &_main {
        color: $color-inverse !important;
        background: $color-main;
        border: 2px solid $color-main;
        &:not(.button_disabled):hover {
            color: $color-inverse !important;
            background: $color-alt;
            border: 2px solid $color-alt;
        }
    }
    &_img {
        color: $color-main !important;
        background: $color-inverse;
        border: 2px solid $color-main;
        padding: 0.5em 1.5em;
        &:not(.button_disabled):hover {
          color: $color-main !important;
          background: $color-inverse;
          border: 2px solid $color-inverse;
        }
        img {
          height: $font-size-base*1.5;
          display: block;
        }
    }
    &_disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
    &_big {
        font-size: $font-size-h2;
        img {
          height: $font-size-h2*1.5;
        }
    }
    &--primary {
        @include color($white);
        @include bg-color($primary-700);
        border: 2px solid $primary-700;
        transition: .2s;

        &:hover {
            @include bg-color($primary-900);
            border: 2px solid $primary-900;
        }
    }
    &--small {
        font-size: 10px;
        line-height: 12px;
        padding: 10px 14px;
    }



  &_card {
        display: flex;
        transition: all .25s ease;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 0.5em;
        height: 8em;
        overflow: hidden;

        &:not(.button_disabled):hover {
            transform: scale(1.1);
        }

        & div.icon {
            display: flex;
            align-items: center;
            margin-right: 10px;
            width: 40px;
            height: 40px;
        }
        & span.name {
            width: 9em;
            margin: 5px 0px 0px 0px;
        }

        & div.footer {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding: 0.5em 2em;
          margin: auto -1.5rem -0.75rem -1.5rem;
          background-color: #02003E;
        }

    }
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .button {
        margin-right: 1em;
        margin-bottom: 1em;
    }
}
