@import "components/common/_variables.scss";

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    box-sizing: border-box;
    padding: 0.75em 1.5em;
    font-weight: $font-weight-semibold;
    &_default {
        color: $color-main !important;
        background: $color-inverse;
        border: 2px solid $color-main;
    }
    &_alt {
        color: $color-inverse !important;
        background: $color-alt;
        border: 2px solid $color-alt;
    }
    &_inverse {
        color: $color-alt !important;
        background: $color-inverse;
        border: 2px solid $color-inverse;
    }
    &:not(.button_disabled):hover {
        color: $color-inverse !important;
        background: $color-main;
        border: 2px solid $color-main;
        text-decoration: none !important;
    }
    &_main {
        color: $color-inverse !important;
        background: $color-main;
        border: 2px solid $color-main;
        &:not(.button_disabled):hover {
            color: $color-inverse !important;
            background: $color-alt;
            border: 2px solid $color-alt;
        }
    }
    &_disabled {
        opacity: 0.3;
    }
    &_big {
        font-size: $font-size-h2;
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .button {
        margin-right: 2em;
        margin-bottom: 2em;
    }
}