@import "components/common/_variables.scss";

.form {
  &__row {
    margin-bottom: $spacing-l;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__h0n3y {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  .textfield {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75em 1.5em;
    border: 2px solid $color-smooth;
    outline: none;
    font-size: $font-size-base;
    color: $color-main;
    letter-spacing: 0.5px;
    transition: color 300ms ease, border-color 300ms ease;
    appearance: none;

    &::placeholder {
      opacity: 1;
      color: transparentize($color-main, 0.4);
    }

    &:hover {
      border-color: transparentize($color-alt, 0.5);
    }

    &:focus {
      border-color: $color-alt;
      transition-duration: 0ms;

      &::placeholder {
        color: transparentize($color-main, 0.15);
      }
    }

    &--no-border {
      border-color: transparent;
    }

    &.invalid {
      border-color: red;
    }
  }

  .label {
    font-size: $font-size-small;
    margin-bottom: $spacing-s;
    display: block;
  }

  .info {
    font-size: $font-size-small;
    margin-top: $spacing-s;
    color: transparentize($color-main, 0.5);
    display: block;
  }

  .invalid-message {
    color: red;
    display: none;
  }

  .active {
    display: block;
  }
}
