// containers & breakpoints
$container-width-lg: 1400px;
$container-breakpoint-lg: 1500px;

$container-width-m: 1000px;
$container-breakpoint-m: 1001px;

// colors
$color-main: #02003E;
$color-alt: #2A5EFF;
$color-inverse: #FFFFFF;
$color-smooth: #F3F3F3;
$color-muted: #939fb1;

// font
$font-size-lead: 54px;
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

// spacing
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;