.icon-container {
  display: inline-block;
  width: 16px;
  height: 16px;
}

// From Grafana, but looks terrible.
// .icon {
//   vertical-align: middle;
//   display: inline-block;
//   margin-bottom: 1px;
//   fill: currentColor;
// }
