<div class="tabs-block">
  <ul class="tabs__container tabs__container--title">
    <li id='tab_installer_linux_x86-64'
      href="javascript:void(0)"
      class="tabs__item tabs__item--title active"
      onclick="openTabAndSaveStatus(event,'tabs__item--title','tabs__container--descr','block_installer_linux_x86-64');">
      Linux x86-64
    </li>
    <li id='tab_installer_macos_x86-64'
      href="javascript:void(0)"
      class="tabs__item tabs__item--title"
      onclick="openTabAndSaveStatus(event,'tabs__item--title','tabs__container--descr','block_installer_macos_x86-64');">
      macOS x86-64
    </li>
    <li id='tab_installer_macos_arm64'
      href="javascript:void(0)"
      class="tabs__item tabs__item--title"
      onclick="openTabAndSaveStatus(event,'tabs__item--title','tabs__container--descr','block_installer_macos_arm64');">
      macOS ARM64
    </li>
    <li id='tab_installer_windows'
      href="javascript:void(0)"
      class="tabs__item tabs__item--title"
      onclick="openTabAndSaveStatus(event,'tabs__item--title','tabs__container--descr','block_installer_windows');">
      Windows
    </li>
  </ul>

<div id='block_installer_linux_x86-64' class="tabs__container tabs__container--descr active" markdown="1">
  {%  include d8-cli-install/content.liquid os="Linux" arch="x86-64" %}
</div>

<div id='block_installer_macos_x86-64' class="tabs__container tabs__container--descr" markdown="1">
  {%  include d8-cli-install/content.liquid os="macOS" arch="x86-64" %}
</div>

<div id='block_installer_macos_arm64' class="tabs__container tabs__container--descr" markdown="1">
  {%  include d8-cli-install/content.liquid os="macOS" arch="ARM64" %}
</div>

<div id='block_installer_windows' class="tabs__container tabs__container--descr" markdown="1">
  {%  include d8-cli-install/content.liquid os="Windows" arch="x86-64"%}
</div>
</div>
