      </div>
      {{ if eq (extra "lang") "en" }}
      <a href="https://flant.com" target="_blank" class="layout-footer">
          <img src="{{ url .ReqPath "static/img/flant-logo-en.svg" }}" />
     {{ else }}
      <a href="https://flant.ru" target="_blank" class="layout-footer">
          <img src="{{ url .ReqPath "static/img/flant-logo-ru.svg" }}" />
      {{ end }}
      </a>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        document.querySelector('body').classList.add('loaded');
      });
    </script>
  </body>
</html>
