<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Deckhouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ printf "%s?cache=%s" (url .ReqPath "static/main.css") .BuildIdentifier }}" rel="stylesheet">
    <link rel="icon" href="{{ url .ReqPath "static/img/favicon.svg" }}" type="image/svg+xml">
    <link rel="icon" href="{{ url .ReqPath "static/img/favicon.png" }}" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="{{ url .ReqPath "static/img/favicons/180.png" }}">
    <link rel="icon" href="{{ url .ReqPath "static/img/favicons/192.png" }}" sizes="192x192" type="image/png">
    <link rel="icon" href="{{ url .ReqPath "static/img/favicons/512.png" }}" sizes="512x512" type="image/png">
  </head>

  <body class="login-page">
    <div class="layout">
      <div class="layout-content">
        <div class="layout-deckhouse-title">
          <img src="{{ url .ReqPath "static/img/deckhouse-logo-title.svg" }}" />
        </div>

