<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Deckhouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ printf "%s?cache=%s" (url .ReqPath "static/main.css") .BuildIdentifier }}" rel="stylesheet">
    <link rel="icon" href="{{ url .ReqPath "static/img/favicon.png" }}">
  </head>

  <body style="background-image: url({{ url .ReqPath "static/img/background.png" }}), linear-gradient(180deg, #51A0FF -21.29%, #5089E6 28.41%, #385FC3 69.11%, #264479 116.56%)">
    <div class="layout">
      <div class="layout-content">
        <div class="layout-deckhouse-title">
          <img src="{{ url .ReqPath "static/img/deckhouse-logo-title.svg" }}" />
        </div>

