{{ template "header.html" . }}

<div class="content">
  <h2 class="content-title">
      {{ if eq (extra "lang") "en" }}
      Log in to Your Account:
      {{ else }}
      Введите ваши данные:
      {{ end }}
  </h2>
  <form method="post" action="{{ .PostURL }}" class="login-form">
    <input tabindex="1" required id="login" name="login" type="text" placeholder="{{ .UsernamePrompt }}" class="input" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus onfocusout="this.value = this.value.trim()" {{ end }}/>
    <input tabindex="2" required id="password" name="password" type="password" placeholder="{{ if eq (extra "lang") "en" }}Password{{ else }}Пароль{{ end }}" class="input" {{ if .Invalid }} autofocus {{ end }}/>
    {{ if .Invalid }}
      <div id="login-error" class="form-error">
        {{ if eq (extra "lang") "en" }}
        Invalid {{ .UsernamePrompt }} or password.
        {{ else }}
        Неверный {{ .UsernamePrompt }} или пароль.
        {{ end }}
      </div>
    {{ end }}
    <button tabindex="3" id="submit-login" type="submit" class="btn btn-primary">
        {{ if eq (extra "lang") "en" }}
        Sign in
        {{ else }}
        Войти
        {{ end }}
    </button>
  </form>
  {{ if .BackLink }}
  <div class="form-extra">
    <a class="btn btn-primary-outline" href="{{ .BackLink }}">
      {{ if eq (extra "lang") "en" }}
      Select another login method
      {{ else }}
      Выбрать другой метод
      {{ end }}
    </a>
  </div>
  {{ end }}
</div>

<script type="text/javascript">
  document.querySelector('form').onsubmit = function(e) {
    var el = document.querySelector('#submit-login');
    el.setAttribute('disabled', 'disabled');
  };
</script>

{{ template "footer.html" . }}
