{{ template "header.html" . }}

<div class="content">
  <h2 class="content-title">
    {{ if eq (extra "lang") "en" }}
    Two-factor authentication
    {{ else }}
    Второй фактор аутентификации
    {{ end }}
  </h2>
  {{ if not (eq .QRCode "") }}
  <div class="content-text">
    {{ if eq (extra "lang") "en" }}
    Scan the QR code with your authenticator app
    {{ else }}
    Отсканируйте QR-код в приложении для аутентификации
    {{ end }}
    <div class="qr-code-container">
      <img src="data:image/png;base64, {{ .QRCode }}" alt="QR code"/>
    </div>
  </div>
  {{ else }}
  <div class="content-text">
    {{ if eq (extra "lang") "en" }}
  Open your authenticator app and enter the code for <b>{{ .Issuer }}: ({{ .Connector }})</b>
    {{ else }}
  Откройте приложение для аутентификации и введите код для <b>{{ .Issuer }}: ({{ .Connector }})</b>
    {{ end }}
  </div>
  {{ end }}
  <form method="post" action="{{ .PostURL }}" class="login-form">
    <input tabindex="1" required id="totp" name="totp" type="password" placeholder="{{- if eq (extra "lang") "en" }}One-time password:{{- else }}Одноразовый пароль:{{- end }}" class="input" {{ if .Invalid }} autofocus onfocusout="this.value = this.value.trim()" {{ end }}/>
    {{ if .Invalid }}
    <div id="login-error" class="form-error">
      {{- if eq (extra "lang") "en" }}
      Invalid or Expired User Code
      {{- else }}
      Неверный или устаревший User Code
      {{- end }}
    </div>
    {{ end }}
    <button tabindex="2" id="submit-login" type="submit" class="btn btn-primary">
      {{ if eq (extra "lang") "en" }}
      Submit
      {{ else }}
      Отправить
      {{ end }}
    </button>
  </form>
</div>

<script type="text/javascript">
  document.querySelector('form').onsubmit = function(e) {
    var el = document.querySelector('#submit-login');
    el.setAttribute('disabled', 'disabled');
  };
</script>

{{ template "footer.html" . }}
