/modules/
    000-common/
        images/
+            alt-p11/                    # Возможно, нужно выпилить
-            check-kernel-version/       # Передать в network
-            crane/                      # Deprecated, Подумать над заменой
                                         # Его забрали Kubernetes
    007-registrypackages/
        images/
+            d8-ca-updater/
+            d8-curl/
+            docker-registry/            # Это себе захапали Registry
+            e2fsprogs/                  #
+            erofs/
+            growpart/
+            jq/
+            lsblk/
+            netcat/
+            nfs-mount/
+            nvme-cli/
+            socat/
+            sysctl-pcw/
+            toml/
+            virt-what/
+            which/
+            yq/
+    039-registry-packages-proxy/
-    040-control-plane-manager/      # Убрать CodeOwners от CandI
    040-node-manager/
+        images/
+            bashible-apiserver/
+            capi-controller-manager/
+            early-oom/
+            kubernetes-api-proxy/
+            machine-controller-manager/
+            node-group-exporter/
        hooks/
-            *-fencing-*             # Передать fencing далее
+        *                           # Остальное все наше
    040-terraform-manager/
        images/
+            base-terraform-manager/
-            *                       # Остальные принадлежат Cloud Providers
+        *                           # Мы готовы менеджить сам модуль
+    470-chrony/

###
# Необходимо отделить шаги, которые относятся к общему бутстрапу (и принадлежат CandI)
# от шагов, которые управляются другими командами (необходимы для конкретных модулей)
###
/candi/
+     *

####
# Так же, достаточно часто, некоторые модули содержат папку **/candi/
# Которую мейнтейнят в основном команды модулей, а не мы. (мы там обычно оказываем психологическую поддержку)
# По-этому эти CodeOwners было бы неплохо передать
####

- **/candi/

/dhctl/
+    *

###
# Мы больше не занимаемся поддержкой helm-овых библиотек, это должно быть передано в команду Runtime
###
/helm_lib/
-    *

###
# Не относящийся к CodeOwners вопрос:
# Поговорить про более удобный механизм сборки различных редакций
###
/ee/
    modules/
        040-node-manager/
            images/
+                d8-shutdown-inhibitor/
