@import "components/common/_variables.scss";

.gdpr {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  z-index: 9999999999;
  width: 100%;
  background: $color-inverse;
  color: $color-main;
  box-sizing: border-box;
  padding: 15px 20px;
  box-shadow: 0 3px 7px 3px rgba(59, 66, 109, .15);

  &__message {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 1em 0;
    color: #5e6697;
  }

  &__link {
    color: #0064ff;
  }

  &__button {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    height: 45px;
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    min-width: 140px;
    max-height: 36px;
    background-color: #0064ff;
    border: 1px solid #0064ff;
    color: $color-inverse;
    //
    //:hover {
    //  background-color: #0064ff;
    //}
  }
}
