@import "components/common/_variables.scss";

div.alert__wrap {
  display: flex;
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  border-radius: .5em;
  border: 2px solid;

  & a {
    color: $color-alt;
  }

  & p {
    color: $color-main;
  }

  & .alert__icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    padding: 16px 0;
  }

  &.hide {
    display: none;
  }

  &.info {
    border-color: $color-alt;

    & .icon--info {
      fill: $color-alt;
    }
  }

  &.warning {
    border-color: $color-warning;

    & .icon--warning {
      fill: $color-warning;
    }
  }

  &.danger {
    border-color: $color-danger;

    & .icon--danger {
      fill: $color-danger;
    }
  }
}
