@import "components/common/_variables.scss";

.stats {
    padding: 150px 0;
    &__content {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__info {
        width: 400px;
    }
    &__title {
        margin: 0 0 $spacing-l 0;
    }
    &__text {
        line-height: 1.5;
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__data {
        margin-left: auto;
        margin-top: 100px;
        &-row {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            &:not(:last-child) {
                border-bottom: 2px solid;
                border-color: inherit;
                padding-bottom: 25px;
                margin-bottom: 25px;
            }
        }
        &-item {
            text-align: right;
            &:not(:last-child) {
                margin-right: 75px;
            }
            &-num {
                font-size: 100px;
                font-weight: $font-weight-bold;
                line-height: 1;
            }
            &-title {
                font-weight: $font-weight-semibold;
                margin-bottom: 5px;
            }
            &-subtitle {
                opacity: 0.6;
                font-size: $font-size-small;
            }
        }
    }
    &_inverse {
        color: $color-inverse;
        background: $color-main;
        border-color: $color-inverse;
        a {
            color: $color-inverse
        }
    }

    &_default {
        color: $color-main;
        border-color: $color-alt;
        a {
            color: $color-alt;
        }
    }

    &_default &__data {
        color: $color-alt;
    }
}
