@import "components/common/_variables.scss";

.work {
    padding: 150px 0;
    &__content {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__item {
        width: 100%;
        margin-bottom: $spacing-l*3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-num {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $color-alt;
            color: $color-inverse;
            font-size: $font-size-h2;
            font-weight: $font-weight-bold;
            line-height: 1;
            margin-bottom: $spacing-l;
        }
        &-title {
            margin-top: 0;
            margin-bottom: $spacing-l;
            color: $color-alt;
            text-align: center;
        }
        &-diagram {

        }
    }
}
