{% unless page.hide_sidebar %}
{% assign sidebar = site.data.sidebars[page.sidebar].entries %}
<ul class="sidebar" id="mysidebar">
  {%- capture page_url_without_index_html %}{{ page.url | remove: "index.html" }}{% endcapture %}
  {% for entry in sidebar %}
  {%- for folder in entry.folders %}
        {%- if folder.folderitems %}
          <li class="sidebar__item sidebar__item_parent">
            <a title="{{folder.title}}" href="#">{{folder.title}} </a>
            <ul class="sidebar__submenu">
            {%- for folderitem in folder.folderitems %}
            {%- if folderitem.external_url %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
            {%- elsif page.url == folderitem.url %}
            <li class="sidebar__submenu-item active"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/" }}">{{folderitem.title}}</a></li>
            {%- elsif page_url_without_index_html == folderitem.url %}
            <li class="sidebar__submenu-item active"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/" }}">{{folderitem.title}}</a></li>
            {%- elsif folderitem.type == "empty" %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/"}}">{{folderitem.title}}</a></li>
            {%- else %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/"}}">{{folderitem.title}}</a></li>
            {%- endif %}
            {%- endfor %}
            </ul>
          </li>
        {%- elsif folder.subfolders %}
          <li class="sidebar__item sidebar__item_parent">
            <a title="{{folder.title}}" href="#">{{folder.title}} </a>
            <ul class="sidebar__submenu">
            {%- for subfolders in folder.subfolders %}
                {%- if subfolders.subfolderitems %}
                <li class="sidebar__submenu-item sidebar__submenu-item_parent"><a title="{{subfolders.title}}" href="#">{{ subfolders.title }}</a>
                <ul class="sidebar__submenu">
                    {% for subfolderitem in subfolders.subfolderitems %}
                      {% if subfolderitem.external_url %}
                      <li class="sidebar__submenu-item"><a title="{{subfolderitem.title}}" href="{{subfolderitem.external_url}}" target="_blank" rel="noopener">{{subfolderitem.title}}</a></li>
                      {% elsif page.url == subfolderitem.url %}
                      <li class="sidebar__submenu-item active"><a title="{{subfolderitem.title}}" href="{{ site.baseurl }}/{{subfolderitem.url | remove_first: "/"}}">{{subfolderitem.title}}</a></li>
                      {% elsif page_url_without_index_html == subfolderitem.url %}
                      <li class="sidebar__submenu-item active"><a title="{{subfolderitem.title}}" href="{{ site.baseurl }}/{{subfolderitem.url | remove_first: "/"}}">{{subfolderitem.title}}</a></li>
                      {% else %}
                      <li class="sidebar__submenu-item"><a title="{{subfolderitem.title}}" href="{{ site.baseurl }}/{{subfolderitem.url | remove_first: "/"}}">{{subfolderitem.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                </ul>
                </li>
                {%- else %}
                    {% if subfolders.external_url %}
                    <li class="sidebar__submenu-item"><a title="{{subfolders.title}}" href="{{subfolders.external_url}}" target="_blank" rel="noopener">{{subfolders.title}}</a></li>
                    {% elsif page.url == subfolders.url %}
                    <li class="sidebar__submenu-item active"><a title="{{subfolders.title}}" href="{{ site.baseurl }}/{{subfolders.url | remove_first: "/"}}">{{subfolders.title}}</a></li>
                    {% elsif page_url_without_index_html == subfolders.url %}
                    <li class="sidebar__submenu-item active"><a title="{{subfolders.title}}" href="{{ site.baseurl }}/{{subfolders.url | remove_first: "/"}}">{{subfolders.title}}</a></li>
                    {% else %}
                    <li class="sidebar__submenu-item"><a title="{{subfolders.title}}" href="{{ site.baseurl }}/{{subfolders.url | remove_first: "/"}}">{{subfolders.title}}</a></li>
                    {% endif %}
                {%- endif %}
            {% endfor %}
            </ul>
          </li>
        {%- elsif folder.external_url %}
            <li class="sidebar__item"><a href="{{ folder.external_url }}" target="_blank">{{folder.title}}</a></li>
        {%- elsif page.url == folder.url %}
            <li class="sidebar__item active"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- elsif page_url_without_index_html == folder.url %}
            <li class="sidebar__item active"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- else %}
            <li class="sidebar__item"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- endif %}
  {% endfor %}
  {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
{% endunless %}
