/* remove bootstrap's thick focus outline */

.top-navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-navbar-container .btn {
  box-shadow: none !important;
}

#topNavBar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #deeefd;
}
