.updatechannel__content {
  color: white;
  background-color: #f0ad4e;
  border-radius: 5px;
  height: fit-content;
  padding: 5px 10px;
  font-size: 1.1em;
  line-height: 20px;
  margin: 5px 10px;
  top: 5px;
  left: -304px;
  max-width: 250px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.updatechannel__content:hover {
    overflow: visible !important;
    z-index: 10;
    white-space: normal;
    width: max-content;
    max-width: 400px;
    word-break: break-word;
}

.updatechannel__content.disable {
 display: none !important;
}
