CLUSTER_SSH_USER=ubuntu
# To be changed
CLUSTER_SSH_HOST=
CLUSTER_SSH_PORT=22

# Optional SSH jumphost (leave JUMPHOST_SSH_HOST empty to connect directly)
JUMPHOST_SSH_USER=ubuntu
JUMPHOST_SSH_HOST=
JUMPHOST_SSH_PORT=22

# FOR MAKE TEST COMMAND
# To be changed
REMOTE_TEST_DIR=/tmp/cpm-chainsaw-tests
