// containers & breakpoints
$container-width-lg: 1400px;
$container-breakpoint-lg: 1500px;

$container-width-m: 1000px;
$container-breakpoint-m: 1001px;

$xxs: 400;
$xs: 430;
$s: 550;
$m: 728;
$l: 1024;
$xl: 1200;
$xxl: 1440;

// colors
$color-main: #02003E;
$color-alt: #2A5EFF;
$color-warning: #ffc200;
$color-danger: #ff4141;
$color-inverse: #FFFFFF;
$color-smooth: #F3F3F3;
$color-muted: #939fb1;
$color-text-secondary: #5E6697;
$background-blue: #EFF3F9;

// Colors from theme.json
$white: #fff;
$black: #000;
$dark-blue: #00003C;

$primary-100: #E1F0FF;
$primary-300: #B0D8FF;
$primary-500: #408BFF;
$primary-700: #0064FF;
$primary-900: #002CCA;
$primary-dark: #000F98;

$ntrl-50: #F5F5FB;
$ntrl-100: #E7E9F5;
$ntrl-200: #CDD1E6;
$ntrl-300: #AFB4D1;
$ntrl-400: #969DC4;
$ntrl-500: #787FA7;
$ntrl-600: #5E6697;
$ntrl-700: #3B426D;
$ntrl-800: #222A5E;
$ntrl-900: #02003E;


// font
$font-size-lead: 54px;
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 22px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

// spacing
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$text-spacing-s: 12px;
$text-spacing-m: 16px;
$text-spacing-l: 24px;
