{% unless page.hide_sidebar %}
{% assign sidebar = site.data.sidebars[page.sidebar].entries %}
<ul class="sidebar" id="mysidebar">
  {%- capture page_url_without_index_html %}{{ page.url | remove: "index.html" }}{% endcapture %}
  {% for entry in sidebar %}
  {%- for folder in entry.folders %}
        {%- if folder.folderitems %}
          <li class="sidebar__item sidebar__item_parent">
            <a title="{{folder.title}}" href="#">{{folder.title}} </a>
            <ul class="sidebar__submenu">
            {%- for folderitem in folder.folderitems %}
            {%- if folderitem.external_url %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
            {%- elsif page.url == folderitem.url %}
            <li class="sidebar__submenu-item active"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/" }}">{{folderitem.title}}</a></li>
            {%- elsif page_url_without_index_html == folderitem.url %}
            <li class="sidebar__submenu-item active"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/" }}">{{folderitem.title}}</a></li>
            {%- elsif folderitem.type == "empty" %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/"}}">{{folderitem.title}}</a></li>
            {%- else %}
            <li class="sidebar__submenu-item"><a title="{{folderitem.title}}" href="{{ site.baseurl }}/{{folderitem.url | remove_first: "/"}}">{{folderitem.title}}</a></li>
            {%- endif %}
            {%- endfor %}
            </ul>
          </li>
        {%- elsif folder.subfolders %}
          <li class="sidebar__item sidebar__item_parent">
            <a title="{{folder.title}}" href="#">{{folder.title}} </a>
            <ul class="sidebar__submenu">
            {%- for subfolder in folder.subfolders %}
                {%- if subfolder.subfolders %}
                    <li class="sidebar__item sidebar__item_parent">
                    <a title="{{subfolder.title}}" href="#">{{subfolder.title}} </a>
                    <ul class="sidebar__submenu">
                    {%- for subsubfolder in subfolder.subfolders %}
                      {%- if subsubfolder.subfolderitems %}
                        <li class="sidebar__subsubmenu-item sidebar__subsubmenu-item_parent"><a title="{{subsubfolder.title}}" href="#">{{ subsubfolder.title }}</a>
                        <ul class="sidebar__subsubmenu">
                        {% for subsubfolderitem in subsubfolder.subfolderitems %}
                          {% if subsubfolderitem.external_url %}
                          <li class="sidebar__subsubmenu-item"><a title="{{subsubfolderitem.title}}" href="{{subsubfolderitem.external_url}}" target="_blank" rel="noopener">{{subsubfolderitem.title}}</a></li>
                          {% elsif page.url == subsubfolderitem.url %}
                          <li class="sidebar__subsubmenu-item active"><a title="{{subsubfolderitem.title}}" href="{{ site.baseurl }}/{{subsubfolderitem.url | remove_first: "/"}}">{{subsubfolderitem.title}}</a></li>
                          {% elsif page_url_without_index_html == subsubfolderitem.url %}
                          <li class="sidebar__subsubmenu-item active"><a title="{{subsubfolderitem.title}}" href="{{ site.baseurl }}/{{subsubfolderitem.url | remove_first: "/"}}">{{subsubfolderitem.title}}</a></li>
                          {% else %}
                          <li class="sidebar__subsubmenu-item"><a title="{{subsubfolderitem.title}}" href="{{ site.baseurl }}/{{subsubfolderitem.url | remove_first: "/"}}">{{subsubfolderitem.title}}</a></li>
                          {% endif %}
                        {% endfor %}
                        </ul>
                        </li>
                      {%- else %}
                          {% if subsubfolder.external_url %}
                          <li class="sidebar__subsubmenu-item"><a title="{{subsubfolder.title}}" href="{{subsubfolder.external_url}}" target="_blank" rel="noopener">{{subsubfolder.title}}</a></li>
                          {% elsif page.url == subsubfolder.url %}
                          <li class="sidebar__subsubmenu-item active"><a title="{{subsubfolder.title}}" href="{{ site.baseurl }}/{{subsubfolder.url | remove_first: "/"}}">{{subsubfolder.title}}</a></li>
                          {% elsif page_url_without_index_html == subsubfolder.url %}
                          <li class="sidebar__subsubmenu-item active"><a title="{{subsubfolder.title}}" href="{{ site.baseurl }}/{{subsubfolder.url | remove_first: "/"}}">{{subsubfolder.title}}</a></li>
                          {% else %}
                          <li class="sidebar__subsubmenu-item"><a title="{{subsubfolder.title}}" href="{{ site.baseurl }}/{{subsubfolder.url | remove_first: "/"}}">{{subsubfolder.title}}</a></li>
                          {% endif %}
                      {%- endif %}
                    {% endfor %}
                    </ul>
                    </li>
                {%- else %}
                    {% if subfolder.external_url %}
                    <li class="sidebar__submenu-item"><a title="{{subfolder.title}}" href="{{subfolder.external_url}}" target="_blank" rel="noopener">{{subfolder.title}}</a></li>
                    {% elsif page.url == subfolder.url %}
                    <li class="sidebar__submenu-item active"><a title="{{subfolder.title}}" href="{{ site.baseurl }}/{{subfolder.url | remove_first: "/"}}">{{subfolder.title}}</a></li>
                    {% elsif page_url_without_index_html == subfolder.url %}
                    <li class="sidebar__submenu-item active"><a title="{{subfolder.title}}" href="{{ site.baseurl }}/{{subfolder.url | remove_first: "/"}}">{{subfolder.title}}</a></li>
                    {% else %}
                    <li class="sidebar__submenu-item"><a title="{{subfolder.title}}" href="{{ site.baseurl }}/{{subfolder.url | remove_first: "/"}}">{{subfolder.title}}</a></li>
                    {% endif %}
                {%- endif %}
            {% endfor %}
            </ul>
          </li>
        {%- elsif folder.external_url %}
            <li class="sidebar__item"><a href="{{ folder.external_url }}" target="_blank">{{folder.title}}</a></li>
        {%- elsif page.url == folder.url %}
            <li class="sidebar__item active"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- elsif page_url_without_index_html == folder.url %}
            <li class="sidebar__item active"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- else %}
            <li class="sidebar__item"><a href="{{ site.baseurl }}{{ folder.url }}">{{folder.title}}</a></li>
        {%- endif %}
  {% endfor %}
  {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
{% endunless %}
