{% assign revision=include.revision %}

{% if revision == 'ee' %}
{% include getting_started/global/EE_ACCESS_RU.md %}
<div class="dimmer-block-content{% if page.ee_only %} disabled{% endif %}">
{% endif %}

<div markdown="1">
Ниже сгенерированы рекомендованные настройки для установки Deckhouse Kubernetes Platform {% if revision == 'ee' %}Enterprise Edition{% else %}Community Edition{% endif %}:
- `config.yml` — файл первичной конфигурации кластера. Содержит параметры инсталлятора{% if page.platform_type == 'cloud' %}, параметры доступа облачного провайдера{% endif %} и начальные параметры кластера.
{% if page.platform_type == 'cloud' %}- `resources.yml` — описание ресурсов для создания после установки (настройки узлов и Ingress-контроллера).{% endif %}

**Обратите внимание**:
- <span class="mustChange">Так выделены параметры</span>, обязательные для самостоятельного заполнения.
- <span class="mightChange">Так выделены параметры</span>, которые вы возможно захотите изменить.
- Если вы запускаете инсталлятор под **Windows**, то убедитесь, что кодировка создаваемых YAML-файлов конфигурации UTF-8 (либо удалите примечания на русском языке).
{%- if page.platform_type == 'baremetal' %}
- Выполнять установку необходимо с **[персонального компьютера](step2.html#что-необходимо-для-установки)**, имеющего SSH-доступ до узла, который будет **master-узлом** будущего кластера.
{%- endif %}
{%- if page.platform_type == 'existing' %}
- Ознакомьтесь с разделом *[Если что-то пошло не так](#если-что-то-пошло-не-так)*, возможно там описан случай для вашего провайдера. Обращайтесь к нему, если испытываете какие-то проблемы в процессе установки.
{%- endif %}

Создайте файл `config.yml`.
{% capture includePath %}_includes/getting_started/{{ page.platform_code }}/partials/config.ru.yml{% if include.layout.size > 0 %}.{{ include.layout }}{% endif %}.{{ revision }}.inc{% endcapture %}
{% snippetcut name="config.yml" selector="config-yml" %}
{% include_file "{{ includePath }}" syntax="yaml" %}
{% endsnippetcut %}

{%- if page.platform_type == 'existing' %}
{% offtopic title="Про nodeSelector, taints и tolerations..." %}
Управлять тем, на каких узлах будет запускаться ядро Deckhouse, можно с помощью указания `nodeSelector`/`tolerations` в параметре `configOverrides.deckhouse` конфигурации установки. Также, вы можете перечислить необходимые taint'ы узлов кластера в массиве `configOverrides.global.modules.placement.customTolerationKeys`, чтобы Deckhouse автоматически указывал соответствующие `toleration` своим компонентам.

> Пример указания `nodeSelector`/`tolerations` для модуля `deckhouse` и списка tolerations в массиве `customTolerationKeys` для работы остальных компонентов Deckhouse (не копируйте этот пример без изменения в вашу конфигурацию, т.к. у вас будут другие значения):
> ```yaml
> deckhouse:
>   configOverrides:
>     # ...
>     deckhouse:
>       tolerations:
>         - key: dedicated.deckhouse.io
>           operator: Exists
>     # ...
>     global:
>       modules:
>         # ...
>         placement:
>           customTolerationKeys:
>           - SystemLoad
>           - app.kubernetes.io/instance
> ```
{% endofftopic %}
{% endif %}
</div>

{% if revision == 'ee' %}
</div>
{% endif %}
