{% assign revision=include.revision %}

{% if revision == 'ee' %}
{% include getting_started/global/EE_ACCESS.md %}
{% endif %}

The recommended settings for a Deckhouse Platform {% if revision == 'ee' %}Enterprise Edition{% else %}Community Edition{% endif %} installation are generated below:
- `config.yml` — a file with the configuration needed to bootstrap the cluster. Contains the installer parameters, {% if page. platform_type== 'cloud' %}cloud provider related parameters (such as credentials, instance type, etc){% else %} access parameters{% endif %}, and the initial cluster parameters.
{% if page.platform_type == 'cloud' %}- `resources.yml` — description of the resources that must be installed after the installation (nodes description, Ingress controller description, etc).{% endif %}

**Please pay attention to**:
- <span class="mustChange">highlighted</span> parameters you *must* define.
- <span class="mightChange">parameters</span> you might want to change.
{% if page.platform_type == 'cloud' %}
> The other available cloud provider related options are described in the [documentation](/en/documentation/v1/kubernetes.html).
>{% endif %}
{%- if page.platform_type == 'baremetal' %}
> The installation must be performed from a **[personal computer](step2.html#installation-process)** with SSH access to the node, the **master node** of the future cluster.
>{% endif %}
{%- if page.platform_type == 'existing' %}
> Ознакомьтесь предварительно с разделом *[Если что-то пошло не так](#if-something-went-wrong)*, возможно там описан случай для вашего провайдера. Обращайтесь к нему, если испытываете какие-то проблемы в процессе установки.
>{% endif %}
> To learn more about the Deckhouse Platform release channels, please see the [relevant documentation](/en/documentation/v1/deckhouse-release-channels.html).

{% snippetcut name="config.yml" selector="config-yml" %}
{% include_file "_includes/getting_started/{{ page.platform_code }}/partials/config.yml.{{ include.layout }}.{{ revision }}.inc" syntax="yaml" %}
{% endsnippetcut %}

{%- if page.platform_type == 'existing' %}
{% offtopic title="Про nodeSelector, taints и tolerations..." %}
Управлять тем, на каких узлах будет запускаться ядро Deckhouse, можно с помощью указания `nodeSelector`/`tolerations` в параметре `configOverrides.deckhouse` конфигурации установки. Также, вы можете перечислить необходимые taint'ы узлов кластера в массиве `configOverrides.global.modules.placement.customTolerationKeys`, чтобы Deckhouse автоматически указывал соответствующие `toleration` своим компонентам.

> Пример указания `nodeSelector`/`tolerations` для модуля `deckhouse` и списка tolerations в массиве `customTolerationKeys` для работы остальных компонентов Deckhouse (не копируйте этот пример без изменения в вашу конфигурацию, т.к. у вас будут другие значения):
> ```yaml
> deckhouse:
>   configOverrides:
>     # ...
>     deckhouse:
>       tolerations:
>         - key: dedicated.deckhouse.io
>           operator: Exists
>     # ...
>     global:
>       modules:
>         # ...
>         placement:
>           customTolerationKeys:
>           - SystemLoad
>           - app.kubernetes.io/instance
> ```
{% endofftopic %}
{% endif %}
