{%- include getting_started/global/partials/NOTICES.liquid %}

## Процесс установки

Вам потребуются:
1. **Персональный компьютер**.
 
   Компьютер, с которого будет производиться установка. Он нужен только для запуска инсталлятора Deckhouse, и не будет частью кластера. 
   
   Требования:
   - HTTPS-доступ до container registry `registry.deckhouse.io` (установка также возможна и в [закрытом контуре](/ru/documentation/v1/deckhouse-faq.html#как-установить-deckhouse-из-стороннего-registry));
   - SSH-доступ по ключу до узла, который будет **master-узлом** будущего кластера. 
2. **Master-узел**.
 
   Сервер {% if page.platform_type == 'baremetal' or page.platform_type == 'existing' %}(физический сервер или виртуальная машина){% else %}(виртуальная машина){% endif %}, который будет управляющим узлом (master-узлом) будущего кластера. В процессе установки, инсталлятор Deckhouse, запущенный на **персональном компьютере** (см. п.1), подключится к этому узлу по SSH, установит необходимые пакеты, настроит control plane Kubernetes и развернет Deckhouse. Установка **непосредственно с master-узла** в настоящий момент **не поддерживается**.

   Требования: 
   - не менее 4 ядер CPU;
   - не менее 8  ГБ RAM;
   - не менее 40 ГБ дискового пространства;
   - ОС: Ubuntu Linux 16.04/18.04/20.04 LTS или CentOS 7;
   - HTTPS-доступ до container registry `registry.deckhouse.io` (установка также возможна и в [закрытом контуре](/ru/documentation/v1/deckhouse-faq.html#как-установить-deckhouse-из-стороннего-registry));
   - SSH-доступ от **персонального компьютера** (см. п.1) по ключу. 

3. Дополнительные узлы (не обязательно).   
{% if page.platform_type != 'baremetal' %}
   В зависимости от назначения кластера, выбранной на следующих этапах схемы размещения узлов, в выбранном облачном провайдере буду автоматически заказаны дополнительные узлы.   
{%- else %}
   В зависимости от назначения кластера, возможно вам потребуются дополнительные узлы, например — выделенные узлы для мониторинга, балансировщика и т.п.    
{%- endif %}

   Если какой-либо узел (или группа узлов) будет использоваться для роли мониторинга ([подробнее](/ru/documentation/v1/#выделение-узлов-под-определенный-вид-нагрузки), про выделение узлов под определенный вид нагрузки), то минимальные требования к такому узлу следующие:
   - не менее 4 ядер CPU;
   - не менее 8  ГБ RAM;
   - ОС: Ubuntu Linux 16.04/18.04/20.04 LTS или CentOS 7;
   - HTTPS-доступ до container registry `registry.deckhouse.io` (установка также возможна и в [закрытом контуре](/ru/documentation/v1/deckhouse-faq.html#как-установить-deckhouse-из-стороннего-registry)).
 
   > По умолчанию, в качестве хранилища для системных компонентов используется default storage class, определенный в кластере (или `emptydir`, если он не определен). Указать storageClass можно с помощью глобального параметра [storageClass](/ru/documentation/v1/deckhouse-configure-global.html#параметры).  
   
Презентация ниже показывает основные этапы, которые предстоит пройти для установки Deckhouse Platform. Она не обязательна для просмотра, но позволит лучше ориентироваться в последующих инструкциях.

Обратите внимание, что в презентации представлен упрощённый, примерный план действий, а точные действия и команды, которые необходимо выполнить, будут указаны в следующих шагах.

<iframe src="{{ include.presentation }}" frameborder="0" width="{{ include.width }}" height="{{ include.height }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<p class="text text_alt" style="color: #2A5EFF">
  <img src="/images/icons/arrow-up.svg" alt="" style="width: 25px;margin-left: 59px;position: relative;top: -2px;">
  Управляйте презентацией
</p>

К непосредственной установке Kubernetes-кластера перейдите нажатием на кнопку «Далее».
