{%- include getting_started/global/partials/NOTICES.liquid %}

{% if page.platform_type == "existing" %}
## Прежде чем вы начнете

Если вы развернули **новый** кластер и хотите поставить в него Deckhouse, то рекомендуем вернуться на предыдущий шаг и использовать руководство по развертыванию кластера с помощью самого Deckhouse.

Кластеры Kubernetes предлагаемые различными облачными провайдерами имеют свои особенности и различия, так же как и кластеры, развернутые вручную. Правильная стратегия установки Deckhouse в таких кластерах — установить Deckhouse в минимальной конфигурации, после чего включить необходимые модули.

Данное руководство предлагает установку Deckhouse в **минимальной** конфигурации, с включенным модулем [внутренней документации](../../documentation/v1/modules/810-deckhouse-web/) (для примера работы web-приложения) и модулем [cert-manager](../../documentation/v1/modules/101-cert-manager/).

После выполнения всех шагов данного руководства вам нужно будет самостоятельно включить интересующие вас модули. Воспользуйтесь [документацией](/documentation/), чтобы получить об этом необходимую информацию. Также, при возникновении вопросов вы можете попросить помощи [сообщества](https://deckhouse.io/ru/community/about.html).

{% endif %}

## Installation process

You will need:
1. **Personal computer**.

   The computer from which the installation will be performed.{% unless page.platform_type == "existing" %} It is only needed to run the Deckhouse installer, and will not be part of the cluster.{% endunless %}

   Requirements:
   - HTTPS-access to the container registry `registry.deckhouse.io` (it is also possible to use a [third-party registry](/en/documentation/v1/deckhouse-faq.html#how-do-i-configure-deckhouse-to-use-a-third-party-registry));
{%- if page.platform_type == "existing" %}
   - The kubectl command-line tool must be configured to communicate with your cluster.
{%- else %}
   - SSH key access to the node, the **master node** of the future cluster.
{%- endif %}
{% if page.platform_type == "existing" %}
1. **Существующий кластер Kubernetes**.

   У вас уже должен быть работающий кластер Kubernetes, подходящий под условия [поддерживаемых версий Kubernetes и ОС](../../documentation/v1/supported_versions.html).

   В процессе установки инсталлятор Deckhouse, запущенный на **персональном компьютере** (см. п.1), подключится к кластеру и развернет Deckhouse.
{%- else %}
1. **Master-node**.

   A server {% if page.platform_type == 'baremetal' or page.platform_type == 'existing' %}(physical server or virtual machine){% else %}(virtual machine){% endif %}, the master node of the future cluster.
{%- endif %}

{% unless page.platform_type == "existing" %}
    During the installation, the Deckhouse installer running on the **personal computer** (section 1) will connect to that host via SSH, install necessary packages, configure control plane Kubernetes and deploy Deckhouse. Installation **from a master node** is currently **not supported**.

   Requirements:
   - at least 4 CPU cores;
   - at least 8 GB of RAM;
   - at least 40 GB of disk space for the cluster and etcd data;
   - OS: Ubuntu Linux 16.04/18.04/20.04 LTS or CentOS 7;
   - HTTPS-access to the container registry `registry.deckhouse.io` (it is also possible to use a [third-party registry](/en/documentation/v1/deckhouse-faq.html#how-do-i-configure-deckhouse-to-use-a-third-party-registry));
   - SSH key access from the **personal computer** (section 1).

1. Additional nodes (not required).
{% if page.platform_type == 'cloud' %}
   Depending on the purpose of the cluster and selected node layout in the next steps, additional nodes will be automatically ordered from the selected cloud provider.
{%- else %}
   Depending on the purpose of the cluster, you may need additional nodes, for example, dedicated nodes for monitoring, a load balancer, etc.
{%- endif %}

   If any node (node group) will have the monitoring role ([more details](/en/documentation/v1/#advanced-scheduling)) then the minimum requirements for such a node are as follows:
   - at least 4 CPU cores;
   - at least 8 GB of RAM;
   - OS: Ubuntu Linux 16.04/18.04/20.04 LTS or CentOS 7;
   - HTTPS-access to the container registry `registry.deckhouse.io` (it is also possible to use a [third-party registry](/en/documentation/v1/deckhouse-faq.html#how-do-i-configure-deckhouse-to-use-a-third-party-registry)).
{%- endunless %}

   > By default, the default storage class defined in the cluster is used as storage for system components (or `emptydir`, if it is not defined). You can specify the storage class using the global parameter [storageClass](/en/documentation/v1/deckhouse-configure-global.html#parameters).

{% if include.presentation -%}
The presentation below is an overview of the actions that will be required to install Deckhouse Platform. While it's totally fine to skip it, we recommend that you watch it to get a better understanding during the following steps.

Please also note, it's just a brief, rough overview. The actual actions and commands to be executed will be given during next steps.

<iframe src="{{ include.presentation }}" frameborder="0" width="{{ include.width }}" height="{{ include.height }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<p class="text text_alt" style="color: #2A5EFF">
  <img src="/images/icons/arrow-up.svg" alt="" style="width: 25px;margin-left: 59px;position: relative;top: -2px;">
  Control presentation
</p>
{%- endif %}

To start the process of installation of your Kubernetes cluster, please click the "Next" button below.
