//@use "components/common/_variables.scss";
@use 'components/common/_mixins.scss';
@use 'components/common/_breakpoints.scss';


//.container {
//    width: $container-width-m;
//    @media (min-width: $container-breakpoint-lg) {
//        width: $container-width-lg;
//    }
//    margin-left: auto;
//    margin-right: auto;
//}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  @include breakpoints.min-w(xl) {
    max-width: var(--wp--style--global--content-size);
    padding-left: 48px;
    padding-right: 48px;
  }

  @include breakpoints.max-w(xl) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include breakpoints.max-w(s) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoints.max-w(xs) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
