@use "components/common/_variables.scss";
@use 'components/common/_breakpoints.scss';

div[data-tippy-root] {
    @include breakpoints.max-w(l) {
        z-index: 1 !important;
    }
}

.tippy-box[data-theme~='custom'] {
    background-color: #000;
}

.tippy-box[data-theme~='comparison'] {
    background-color: #000;
    text-align: left;
}

.tippy-box[data-theme~='comparison'] a {
    color: #ffd200;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #000;
}

.supported_versions:not(.table__small) {
    .tippy-box {
        @include breakpoints.max-w(l) {
            max-width: 340px !important;
        }

        @include breakpoints.max-w(m) {
            font-size: 12px;
            max-width: 170px !important;
        }

        @include breakpoints.max-w(xxs) {
            font-size: 10px;
            max-width: 115px !important;
        }

        ul {
            @include breakpoints.max-w(m) {
                font-size: 12px;
            }

            @include breakpoints.max-w(xxs) {
                font-size: 10px;
            }
        }
    }
}

.supported_versions.table__small {
    .tippy-box {
        @include breakpoints.max-w(xs) {
            font-size: 10px;
            max-width: 250px !important;
        }
    }
}
