.tippy-box[data-theme~='custom'] {
  background-color: #000;
}

.tippy-box[data-theme~='comparison'] {
  background-color: #000;
  text-align: left;
}

.tippy-box[data-theme~='comparison'] a {
    color: #ffd200;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #000;
}
