{%- if page.extractedLinks and page.extractedLinks.size > 0 %}
  {%- assign extractedLinks = page.extractedLinks %}
{%-  else %}
  {%- assign extractedLinks = "" | split: "" %}
{%- endif %}

{%- if page.relatedLinks and page.relatedLinks.size > 0 %}
  {%- assign relatedLinks = page.relatedLinks %}
{%-  else %}
  {%- assign relatedLinks = "" | split: "" %}
{%- endif %}

{%- assign allRelatedLinks = relatedLinks | concat: extractedLinks %}
{%- if allRelatedLinks and allRelatedLinks.size > 0 %}

<h2>{{ site.data.i18n.common['related_additional_resources'][page.lang] }}</h2>
<ul>
{%- for link in allRelatedLinks %}
<li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
{%- endfor %}
</ul>
{%- endif %}
