{%- if page.extracted_links and page.extracted_links.size > 0 %}
  {%- assign extracted_links = page.extracted_links %}
{%-  else %}
  {%- assign extracted_links = "" | split: "" %}
{%- endif %}

{%- if page.related_links and page.related_links.size > 0 %}
  {%- assign related_links = page.related_links %}
{%-  else %}
  {%- assign related_links = "" | split: "" %}
{%- endif %}

{%- assign all_related_links = related_links | concat: extracted_links %}
{%- if all_related_links and all_related_links.size > 0 %}

<h2>{{ site.data.i18n.common['related_additional_resources'][page.lang] }}</h2>
<ul>
{%- for link in all_related_links %}
<li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.title }}</a></li>
{%- endfor %}
</ul>
{%- endif %}
