---
---


@use "components/common/_variables.scss";
@use 'components/common/_mixins.scss';
@use 'components/common/_breakpoints.scss';

.docs.faq__container {
    .docs__wrap-title {
        margin-bottom: 24px;

        .docs__title {
            font-weight: 400;
        }
    }

    .post-content {
        &> p:first-child {
            margin-bottom: 56px;

            @include breakpoints.max-w(l) {
                margin-bottom: 40px;
            }
        }
    }

    .show__containers--expand, .show__containers--collapse {
        text-decoration: none;
        background: none;
        border: none;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.16px;
        color: mixins.$ntrl-400;
        cursor: pointer;

        @include breakpoints.max-w(s) {
            font-size: 15px;
        }

        &.active {
            color: variables.$primary-700;
        }
    }

    .show__containers--expand {
        padding-right: 14px;
        border-right: 1px solid mixins.$ntrl-400;
    }

    .show__containers--collapse {
        padding-left: 14px;
    }
    
    h3 {
        position: relative;
        display: block;
        max-width: fit-content;
        padding-left: 24px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.4px;
        color: variables.$primary-700;
        cursor: pointer;

        @include breakpoints.max-w(l) {
            font-size: 18px;
        }

        @include breakpoints.max-w(m) {
            font-size: 16px;
        }

        @include breakpoints.max-w(xs) {
            font-size: 14px;
        }

        &::before {
            position: absolute;
            top: 10px;
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../../images/faq-title.svg) no-repeat;
            background-size: contain;
            margin-left: -21px;

            @include breakpoints.max-w(l) {
                top: 9px;
            }

            @include breakpoints.max-w(m) {
                top: 6px;
            }
        }

        &.hide {
            color: #00122C;

            &::before {
                transform: rotate(-90deg);
            }

            &:hover {
                color: variables.$primary-700;
            }
        }

        &> a {
            position: absolute;
            bottom: 3px;
            color: #00122C;

            &:hover {
                color: variables.$primary-700;
            }
        }
    }

}
