version: 0.1

log:
  level: info

storage:
  filesystem:
    rootdirectory: {{ registry_data_dir }}
  delete:
    enabled: true

http:
  addr: {{ registry_listen_addr }}
  headers:
    X-Content-Type-Options: [nosniff]

auth:
  token:
    realm: https://{{ registry_domain }}/auth
    service: "{{ registry_domain }}"
    issuer: "{{ token_issuer }}"
    rootcertbundle: {{ registry_config_dir }}/token.crt

health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
