[Unit]
Description=Docker Registry
After=network.target
Wants=docker-auth.service

[Service]
Type=simple
User={{ registry_user }}
Group={{ registry_user }}
ExecStart={{ registry_binary }} serve {{ registry_config_dir }}/config.yml
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
