git+${SOURCE_REPO}/python-modules/dictdiffer.git@v0.9.0
git+${SOURCE_REPO}/python-modules/dotmap.git@c7a778a95a01a7a0fd2f816a07c62de2478260c6
git+${SOURCE_REPO}/python-modules/pyyaml.git@6.0.1
git+${SOURCE_REPO}/python-modules/python-stringcase.git@57aae96649f5cf7fc98e50b1d62479456d492715
git+${SOURCE_REPO}/python-modules/lib-python.git@d87162e79f62d064a7552cd51c06dff82fb253c5
