@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-lightitalic.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-italic.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-semibolditalic.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-bolditalic.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-extrabolditalic.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-light.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-regular.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-semibold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-bold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url('{{ assets["opensans/opensans-extrabold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-extralight.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-light.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-regular.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-medium.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-semibold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-bold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('{{ assets["source-code-pro/sourcecodepro-black.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('{{ assets["ubuntu/Ubuntu-Bold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('{{ assets["noto-sans/NotoSans.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('{{ assets["noto-sans/NotoSans-Bold.ttf"].digest_path }}') format('truetype');
}
@font-face {
  font-family: 'Noto Sans Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('{{ assets["noto-sans-display/Noto-Sans-Display-SemiBold.ttf.woff"].digest_path }}') format('woff');
}
