<div class="button-group">
  {%- for guide in site.data.guides %}
    <a class="button button_default button_guides_card" href="{{ guide.link }}">
      <span class="name">{{ guide.name[page.lang] }}</span>
      <span>{{ guide.description[page.lang] }}</span>
    </a>
  {% endfor %}
</div>
